<a href="https://colab.research.google.com/github/yalini154/1/blob/main/space.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def prints(n):
  if(n<=0):
    return
  print("Codingal")
prints(5)

Codingal

In [ ]:
def sum(n):
  return n*(n+1)/2
print(sum(6))

21.0

In [ ]:
def arraysum(a):
  sum=0
  for i in a:
    sum = sum + i
  return(sum)
a = [12, 3, 4, 15]
arraysum(a)

34